<p id="notice"><%= notice %></p>

<p>
  <strong>Color:</strong>
  <%= @product_varient.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_varient.size %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_varient.product_id %>
</p>

<%= link_to 'Edit', edit_product_varient_path(@product_varient) %> |
<%= link_to 'Back', product_varients_path %>
